html, body {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
	display: flex;
	flex-direction: column;
}
header {
	width: 100%;
	height: 10vh;
	background-color: rgb(219, 0, 0);

	box-shadow: 0px 10px 50px -1px rgb(0, 0, 0);

	display: flex;

    gap: 10px;
    margin: 0;
	z-index: 1;
	font-size: 50px;
	color: green;
}
.MiddleHeader{
	height: 100%;
	width: 80%;
	
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
    justify-content: center;
}
.Logo {
	height: 80%;
	aspect-ratio: 1/1;
}
main {
	box-sizing: border-box;
	background-color: green;
	width: 100%;
	height: 85vh;
	padding: 50px;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr);

	column-gap: 10px;
	row-gap: 10px;

}
.Credits {
	box-sizing: border-box;
	background-color: green;
	width: 100%;
	height: 85vh;
	padding: 50px;
}
.Credits p {
	font-weight: bold;
	font-size: 20px;

	color: rgba(0, 0, 0, 0.7);
}
.Credits .Help{
	color: rgba(255, 255, 255, 0.05);
	-webkit-user-select: none;
	user-select: none;
}
main div {
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-weight: bold;
	
	display: flex;
	align-items: center;
    justify-content: center;
	
	box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.55);

	font-size: 20px;
	padding: 5px;
	text-align: center;
}
.last{
	background-color: rgba(255, 221, 0, 0.582);
}
main section {
	font-weight: bold;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.3);
}

main p {
	font-weight: bold;
	font-size: 20px;
}
.Footer {
	height: 5vh;
	display: flex;
	align-items: center;
    justify-content: center;
	text-align: center;
	background-color: rgb(0, 85, 0);

	font-weight: bold;
	font-size: 20px;
	
	color: azure;
}
.Footer a {
	color: rgb(136, 136, 136);
}