html, body {
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	flex-direction: column;
}
header {
	width: 100%;
	height: 10vh;
	background-color: rgb(219, 0, 0);

	box-shadow: 0px 10px 50px -1px rgb(0, 0, 0);

	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	display: flex;

    gap: 10px;
    margin: 0;
	z-index: 1;
	font-size: 50px;
	color: green;
}
.MiddleHeader{
	height: 100%;
	width: 80%;
	
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
    justify-content: center;
}
.Logo {
	height: 80%;
	aspect-ratio: 1/1;
}
main {
	box-sizing: border-box;
	background-color: green;
	width: 100%;
	height: 90vh;
	padding: 50px;

	display: grid;
	grid-template-columns: repeat(7, 1fr); 

	column-gap: 10px;
	row-gap: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main div {
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-weight: bold;
	
	display: flex;
	align-items: center;
    justify-content: center;
	
	box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.55);

	font-size: auto;
	padding: 5px;
}