html, body {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
header {
	width: 100%;
	height: 5vw;
	background-color: rgb(219, 0, 0);

	box-shadow: 0px 5px 20px -5px rgb(0, 0, 0);

	display: flex;
	justify-content: space-between;

    gap: 10px;
    margin: 0;
	z-index: 1;
	font-size:xx-large;
	white-space: nowrap;
	color: green;
	overflow: hidden;
}
.LeftLights, .RightLights{
	height: 100%;
	width: auto;
	object-fit: contain;
}
.MiddleHeader{
	height: 100%;
	width: 80%;
	
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
    justify-content: center;
}
.Logo {
	height: 80%;
	aspect-ratio: 1/1;
	object-fit: contain;
}
main {
	box-sizing: border-box;
	background-color: green;
	width: 100%;
	height: 85vh;
	padding: 50px;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr) auto;

	gap: 10px;
}
.Credits {
	box-sizing: border-box;
	background-color: green;
	width: 100%;
	height: 85vh;
	padding: 50px;
}
.Credits p {
	font-weight: bold;
	font-size: 20px;

	color: rgba(0, 0, 0, 0.7);
}
.Credits .Help{
	color: rgba(255, 255, 255, 0.05);
	-webkit-user-select: none;
	user-select: none;
}
main div {
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-weight: bold;
	
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
	
	box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.55);

	font-size: clamp(5px, 20px, 100px);
	padding: 5px;
	text-align: center;
	overflow: auto;

	border-radius: 5px;
}
main div video{
	width: 100%;
	height: 100%;
}

main div video:hover{
	cursor: pointer;
}
.last{
	background-color: rgba(255, 221, 0, 0.582);
}
.CacheReset {
	font-weight: bold;
	font-size: medium;
	color: rgba(0, 0, 0, 0.3);
	white-space:unset;
}
.CacheReset:hover{
	cursor: pointer;
}

main p {
	font-weight: bold;
	font-size: 20px;
}
.Footer {
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
	flex: 1;
	display: flex;
	align-items: center;
    justify-content: space-between;
	text-align: center;

	gap: 10px;

	background-color: rgb(0, 85, 0);

	font-weight: bold;
	font-size: 20px;
	
	color: azure;

}
.Footer a {
	color: rgb(136, 136, 136);
}
.VideoDisplay{
	display: flex;
	flex-direction: column;
	gap: 5px;

	justify-content: center;
	align-items: center;

	padding: 10px;
}
.VideoDisplay div {
	background-color: 0;
}
.VideoPlayer{
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start; 
    align-items: flex-start;

	height: 100%;
	width: fit-content;

	padding: 10px;

	gap: 5px;	
}
.Video{
	border-radius: 5px;
	width: 100%;
	height: 90%;
}
main video {
	width: 80%;
	height: 80%;
}
.ButtonHeader{
	padding: 0;
	box-sizing: border-box;
	height: 10%;
	width: 100%;
	display: flex;

    justify-content: flex-start; 
    align-items: flex-start;

	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
}
.Back{
	padding: 5px;
	box-sizing: border-box;
	color: azure;
	background-color: rgb(0, 32, 0);
	user-select: none;

	height: 100%;
	/* width: 100%; */
	aspect-ratio: 1/1;

	border-radius: 3px;

	overflow: auto;
	object-fit: contain;
	z-index: 999;
}
.Back:hover{
	cursor: pointer;
}
.Back img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.Center{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	gap: 5px;
	width: 100%;
	height: 100%;
}
.NoBackground{
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
}

.NewsDisplay{
	display: block;

	overflow: auto;
	gap:10px;
}
.NewsDisplay section {
	box-sizing: border-box;
	width: 100%;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.7);

	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	overflow: auto;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.NewsDisplay div:hover, .NewsDisplay section:hover{
	cursor: default;
}
.NewsDisplay section img {
	height: 100%;
	width: 20%;

	object-fit: contain;
}
.Baner:hover {
	cursor: pointer;
}
.Text {
	width: 80%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;

	text-align: left;

	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.NewsDisplay section .Content{
	box-sizing: border-box;
	width: 100%;
	height: 90%;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;

	overflow: auto;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	gap: 5px;
}
.NewsDisplay section .Header{
	box-sizing: border-box;
	width: 100%;
	height: 10%;
	padding: 0;
	font-weight: bolder;
	border-radius: 0;

	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;


	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	overflow: hidden;
}
.Date{
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: none;
	font-style: italic;
	border-radius: 3px;


	color: rgb(82, 82, 82);
}

.ImageDisplay{
	box-sizing: border-box;
	padding: 50px;
	z-index: 998;

	position: absolute;
	width: 100%;
	height: 100%;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.5);

	overflow: auto;
}
.ImageDisplay img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: blur(0);

	z-index: 999;
}

