header {
	height: 11vh;
	font-size: 7vw;
}

main {
	box-sizing: border-box;
	background-color: green;
	width: 100%;
	height: 85vh;
	padding: 20px;

	display: block;

	overflow: auto;
}
main div {
	box-sizing: border-box;
	width: 100%;
	height: 150px;

	font-size: 5vh;
	margin-bottom: 2vw;
}