main {
	box-sizing: border-box;
	background-color: green;
	width: 100%;
	height: 85vh;
	padding: 50px;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr) auto;

	gap: 10px;
}