main {
	box-sizing: border-box;
	background-color: green;
	width: 100%;
	height: 85vh;
	padding: 50px;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr) auto;

	gap: 10px;
}
main div {
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-weight: bold;
	
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
	
	box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.55);

	font-size: 3vw;
	padding: 5px;
	text-align: center;
	overflow: auto;

	border-radius: 5px;
}